<%- include('../admin/layout/admin-header-layout.ejs') -%>

  <div class="col-lg">
    <div class="card">
      <div class="card-body ">
        <div style="display: flex; justify-content: space-between;">
          <h5 class="card-title">Products</h5>
          <div>
            <form action="/admin/addproductpage" method="get">
              <button class="btn btn-success me-md-2" type="submit">Add Product</button>
            </form>
          </div>

        </div>
        <!-- <div class="d-grid gap-2 d-md-flex justify-content-md-end"></div> -->

        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Type</th>
                <th scope="col">Brand</th>
                <th scope="col">FUEL TYPE</th>
                <th scope="col">Car Name</th>
                <th scope="col">Details</th>
                <th scope="col">Price</th>
                <th scope="col">Image</th>
                <th scope="col">OPTIONS</th>
              </tr>
            </thead>
            <tbody>
              <% products.forEach(function(product){ %>
                <tr>
                  <th scope="row">
                    <%= index++ %>
                  </th>
                  <td>
                    <%= product.type.typeName %>
                  </td>
                  <td>
                    <%= product.brand.brand %>
                  </td>
                  <td>
                    <%= product.fuelType.fuelType %>
                  </td>
                  <td>
                    <%= product.productName %>
                  </td>
                  <td>
                    <%= product.discription %>
                  </td>
                  <td>
                    <%= product.price %>
                  </td>
                  <td><img src='/images/car/<%= product.image[0] %>' alt="" style="height: 50px; width: 60px;"></td>
                  <td><a class="btn btn-primary" href="/admin/editproductpage/<%= product._id %>" role="button" style="width: 100px;"><i class="bi bi-pen-fill"></i></a> <br><br>
                    
                                      <% if (product.status=="Blocked" ) { %>
                                        <form action="/admin/unblockCar/<%= product._id %> " method="post">
                                          <button type="submit" class="btn btn-success" style="width: 100px;"> UnBlock</button>
                                        </form>
                                        <% } else { %>
                                          <form action="/admin/blockCar/<%= product._id %> " method="post">
                                            <button type="submit" class="btn btn-warning" style="width: 100px;">
                                              Block</button>
                                          </form>
                                          <% } %>
                                        
                    
                    <br>
                    
                    <form action="/admin/deleteproduct/<%= product._id %>" method="post">
                      <button type="submit" class="btn  btn-danger" style="width: 100px;"
                          onclick="return confirm('Are you sure you want to delete ?')"><i class="bi bi-trash-fill"></i></button>
                  </form>

                  
                  </td>

                </tr>
                <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <%- include('../admin/layout/admin-footer-layout.ejs') -%>