<%- include('../admin/layout/admin-header-layout.ejs') -%>

  <div class="col-lg">
    <div class="card">
      <div class="card-body">
        <div style="display: flex; justify-content: space-between;">
          <h5 class="card-title">Users</h5>
          <div>
            <form action="/admin/adduserpage" method="get">
              <button class="btn btn-dark me-md-2" type="submit">Add User</button>
            </form>
          </div>
        </div>
        <br>
        <% if (users.length == 0) { %> 
          <div class="col-12 text-center">
            <img src="https://ibellstore.com/images/no-item-found-here.png" alt="no order" style="width: 400px; height:300px ;">
          </div>
        <% } else { %> 
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Full Name</th>
                <th scope="col">User Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <!-- <th scope="col">Account Status</th> -->
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <% users.forEach(function(user){ %>
                <tr>
                  <th scope="row">
                    <%= index++ %>
                  </th>
                  <td>
                    <%= user.fullName %>
                  </td>
                  <td>
                    <%= user.userName %>
                  </td>
                  <td>
                    <%= user.email %>
                  </td>
                  <td>
                    <%= user.phone %>
                  </td>
                  
                  <td>
                    <% if (user.status=="Blocked" ) { %>
                      <form action="/admin/unblockUser/<%= user._id %> " method="post">
                        <button type="submit" class="btn btn-success" style="width: 100px;"> UnBlock</button>
                      </form>
                      <% } else { %>
                        <form action="/admin/blockUser/<%= user._id %> " method="post">
                          <button type="submit" class="btn btn-danger" style="width: 100px;">
                            Block</button>
                        </form>
                        <% } %>
                  </td>
                </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
          <section class="d-flex justify-content-center mt-2">
            <% if(hasPreviousPage){ %>
              <a style="text-decoration: none;padding: .5rem; margin:0 1rem; color:white" class="text-center"
                href="/admin/alluser?page=<%= PreviousPage %>"><i class="fa fa-chevron-left"
                  aria-hidden="true"></i>&nbsp; Previous</a>
              <% } %>
                <a style="text-decoration: none;padding: .5rem; margin:0 1rem; color:white; border: 2px solid white; border-radius: 50px;"
                  href="/admin/alluser?page=<%= page %>">
                  <%= page %>
                </a>
                <% if(hasNextPage) { %>
                  <a style="text-decoration: none;padding: .5rem; margin:0 1rem; color:white;"
                    href="/admin/alluser?page=<%=  page+1 %>">Next &nbsp; <i class="fa fa-chevron-right"
                      aria-hidden="true"></i></a>
                  <% } %>

          </section>
        <% } %>
      </div>
    </div>
  </div>

  <%- include('../admin/layout/admin-footer-layout.ejs') -%>