<%-include('../user/layout/user-header-layout.ejs') -%>

    <header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner"
        style="background-image:url('https://wallpaperaccess.com/full/2492629.jpg');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div class="display-t">
                        <div class="display-tc animate-box" data-animate-effect="fadeIn">
                            <h1>All Product</h1>
                            <h2>Our All Types of Vehicle</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div id="fh5co-product" style="background-color: black;">
        <div class="container">
            <!-- <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                    <span>Cool Stuff</span>
                    <h2>Products.</h2>
                    <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident.
                        Odit ab aliquam dolor eius.</p>
                </div>
            </div> -->
            <% if (products.length==0) { %>
                <div class="col-12 text-center">
                    <img src="https://ibellstore.com/images/no-item-found-here.png" alt="no order"
                        style="width: 400px; height:300px ;">
                </div>
                <% } else { %>
                    <div class="row">
                        <% products.forEach(function(product){ %>

                            <div class="col-md-4 text-center animate-box">
                                <div class="product">
                                    <div class="product-grid"
                                        style="background-image:url('/images/car/<%= product.image[0] %>');">
                                        <div class="inner">
                                            <p>
                                                <a href="/singleProduct/<%= product._id %>" class="icon"><i
                                                        class="icon-eye"></i></a>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="desc">
                                        <h3><a href="/singleProduct/<%= product._id %>">
                                                <%= product.brand.brand %>
                                                    <%= product.productName %>
                                            </a></h3>
                                        <span class="price">
                                            RS: <%= product.price %>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <% }) %>


                    </div>
                <% } %>
        </div>
    </div>



    <%-include('../user/layout/user-footer-layout.ejs') -%>