<%- include('../user/layout/user-header-layout.ejs') -%>


<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner"
style="background-image:url('https://wallpaperaccess.com/full/2492629.jpg');">
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
            <div class="display-t">
                <div class="display-tc animate-box" data-animate-effect="fadeIn">
                    <h1>Blocked Cars</h1>
                    <h2>Vehicles That You Blocked</h2>
                </div>
            </div>
        </div>
    </div>
</div>
</header>





  <div class="col-lg-12" style="background-color: black;">
    <div class="card">
      <div class="card-body">
        <!-- <h5 class="card-title">Blocked Cars</h5> -->
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Type</th>
                <th scope="col">Brand</th>
                <th scope="col">Car Name</th>
                <th scope="col">FUEL TYPE</th>
                <th scope="col">Price</th>
                <th scope="col">Image</th>
              </tr>
            </thead>
            <tbody>
              <% cars.forEach(function(x) { %>
                <tr>
                  <th scope="row">
                    <%= index++ %>
                  </th>
                  <td>
                    <%= x.result.type.typeName %>
                  </td>
                  <td>
                    <%= x.result.brand.brand %>
                  </td>
                  <td>
                    <%= x.result.productName %>
                  </td>
                  <td>
                    <%= x.result.fuelType.fuelType %>
                  </td>
                  <td>
                    RS: <%= x.result.price %>
                  </td>
                  <td><img src='/images/car/<%= x.result.image[0] %>' alt="" style="height: 50px; width: 60px;"></td>
                  <!-- <td>
                    <form action="/removeFromWishlist/" method="post">
                      <button type="submit" class="btn  btn-danger" style="width: 100px;"
                        onclick="return confirm('Are you sure you want to delete ?')"><i
                          class="bi bi-trash-fill"></i></button>
                    </form>

                  </td> -->

                </tr>
                <% }) %>


            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>














  <%- include('../user/layout/user-footer-layout.ejs') -%>